.land{
	background-color: lightgrey;
	height:60px;
	width: 100%;
	display: grid;
	justify-content: right;
	align-content: center;
	top: 0px;
	position: fixed;
}
.land div{
	font-weight: bold;
	box-shadow: 0px 0px 50px lightgrey;
}